/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
ul.nav {
	list-style: none;
	text-align: left;

}
ul.nav li{
	display:inline-block;
  
}
ul.nav li{
	/*border:solid red 1px;*/
	margin:10px;
	background-color: rgb(212, 200, 243);
	color: black;
	padding: 10px;
}

body.main {
	background-color: skyblue
}

h1.heading{
	color: rgb(57, 26, 218);
	font-size: 38px;
	text-align: center
}

table.tab{

 width: 100%;
 height: 100%;
 border:rgb(57, 26, 218) ;
 background-color:rgb(237, 247, 246);
}

th{
	padding:10px;
	color: rgb(8, 33, 34);
	background-color: rgb(211, 230, 211)	;
}

td{
	padding:10px;
} 